<div id="page-middle-spotify-wrapper">
    
			<h2>Do you like music?</h2>
					<h4>One of the most successful music streaming startups in the history of Sweden!</h4>
					<ul>
						<li>Press Play!</li> 
						<li>Wait till Spotify app opens!</li>
						<li>Enjoy and control this beatiful playlist from here!</li>
					<p>Top Songs of today! Everyday!</p>
				 </ul>
					
					<hr />


			<iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DXcBWIGoYBM5M" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

</div>