<div id="page-middle-local-wrapper">
    
			<h2>Do you want to chill?</h2>
					<p>Find cool places near you!</p>
					
					<hr />

			 <input #localInput placeholder="Coffee,Tea or Me" style="padding: 10px 5px; width: 100%;">
			  <button (click)="onSearch(localInput)">Search</button>
			  <div #target style="margin-top: 20px;">

			    <h3 *ngIf="noResult" style="margin-bottom: 15px;">No job listing found...</h3>
			    <p *ngIf="noResult" > Try a different job title and see if you have better luck.</p>

			  </div>
</div>