<div id="page-wrapper">
		
			<div id="page-middle-wrapper">
			
        		<app-map></app-map>

        		<div id="page-middle-local-wrapper">
        		<app-local></app-local>

        		</div>

        		<div id="page-middle-spotify-wrapper">

				<app-spotify></app-spotify>
    
				</div>

			</div>
			
			<div id="page-right-wrapper">
			
				<!--
				<div id="page-right-hotel-wrapper">
				
					<h2>Need a place to stay?</h2>

					<p>Set a price range that fits your wallet and we will find a hotel in Växjö that suits you.</p>

					<hr />
					
					<form>
					
						<p>Minimum price: €<span id="hotel-range-min-value">0</span></p>
						<input type="range" min="0" max="200" id="hotel-range-min" value="0"></input>
						
						<p>Maximum price: €<span id="hotel-range-max-value">200</span></p>
						<input type="range" min="0" max="200" id="hotel-range-max" value="200"></input>
						
						<button id="hotel-submit-btn">Find hotel</button>
					
					</form>

					<div id="page-right-hotel-result-wrapper"></div>
				
				</div>
				-->

				<app-compare></app-compare>

				<app-career></app-career>

				<div id="page-right-groupon-wrapper">

				<app-groupon></app-groupon>
    
				</div>

			
			</div>
			
			<div id="page-left-wrapper">
			
				<div id="page-left-disqus-wrapper">
				
					<h2>Do you have something you want to discuss?</h2>
					<p>This discussion thread is open for discussion.</p>
					
					<hr />
					<div id="disqus_thread"></div>
				
				</div>



				<div id="page-left-weather-wrapper">

					<h2>What is the forecast?</h2>
					<p>Here is the local weather forecast for the next couple of days.</p>
					
					<hr />

					<app-weather></app-weather>
				
				</div>

				
				<div id="page-left-wikipedia-wrapper">


				<app-wikipedia></app-wikipedia>
    
				</div>
				
			
			</div>

		
		</div>
