<div style="background-color: rgba(255, 255, 255, 0.85098); border: 1px solid rgb(219, 219, 219); padding: 25px; margin-bottom: 25px;">
  <h2>Looking for a job in Växjö?</h2>
  <p>We help you to search for jobs in Vaxjo. Enter a job title, and click on the search button to find your dream job.</p>
  <hr>
  <input #careerInput placeholder="Web developer" style="padding: 10px 5px; width: 100%;">
  <button (click)="onSearch(careerInput)">Search</button>
  <div #target style="margin-top: 20px;">

    <h3 *ngIf="noResult" style="margin-bottom: 15px;">No job listing found...</h3>
    <p *ngIf="noResult" > Try a different job title and see if you have better luck.</p>

  </div>
</div>
