<div id="page-left-wikipedia-wrapper">

	<h2>Wikipedia Search</h2>
					<p>What do you want to search?</p>
					
					<hr />

<input id="Wikipedia" type="text" placeholder="Learn Everything" style="padding: 10px 5px; width: 100%;"/>
<button id="btn">Search</button>
<ul id="display-result"></ul>

<script type="text/javascript">

	   $(document).ready(function(){
        $('#btn').click(function() {
            $.ajax({
                url: 'http://en.wikipedia.org/w/api.php',
                data: { action: 'query', list: 'search', srsearch: $("input[name=Wikipedia]").val(), format: 'json' },
                dataType: 'jsonp',
                success: processResult
            });
        });
    }); 

  function processResult(apiResult){
     for (var i = 0; i < apiResult.query.search.length; i++){
          $('#display-result').append('<p>'+apiResult.query.search[i].title+'</p>');
     }
  }


</script>
  		
    
</div>
